<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          [nzAlign]="column.align"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data; index as i" style="text-align: center;">
        <td>{{i + 1}}</td>
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.email }}</td>
        <td *ngIf="data.role === null"></td>
        <td *ngIf="data.role === 'ADMIN'"><nz-tag nzColor="success">{{ data.role }}</nz-tag></td>
        <td *ngIf="data.role === 'USER'"><nz-tag nzColor="processing">{{ data.role }}</nz-tag></td>
        <td style="display: flex; justify-content: space-evenly;">
            <button nz-button nzType="primary"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
            <button nz-button nzType="primary" nzDanger (click)="deleteAccount(data.id)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
        </td>
      </tr>
    </tbody>
</nz-table>